.header-nav {
  align-self: flex-end;
}

.header-nav ul {
  float: right;
}

.header-nav li {
  margin: auto;
  padding: 2px;
  display: inline-block;
}

.header-nav a {
    font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
}
