.proyectos {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: #bf282800;
}

.proyectos__section {
  display: grid;
  column-gap: 7%;
  row-gap: 12%;
  grid-auto-rows: minmax(47%, 26%);
  margin: 5% 0 0;
  padding: 8% 5% 5%;
  width: auto;
  height: 100vh;
  border-radius: 4px 3px 6px 4px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
