@media (max-width: 320px) {
  .viewer {
    overflow-y: inherit;
    -ms-scroll-snap-type: y mandatory;
  }
  .section-cards--skills {
    flex-direction: column;
  }
  .container-section-cards {
  }
  .article-card-skill {
    width: 32%;
    height: 17%;
  }
  .container-div-Figure1 {
    height: 156px !important;
    width: 123px !important;
  }
  .alignPanel {
    margin-top: -27.5px;
  }
  .alignPanel1 {
    margin-top: -27.5px;
  }
}
@media (max-width: 375px) {
  .viewer {
    overflow-y: inherit;
    -ms-scroll-snap-type: y mandatory;
  }
  .section-cards--skills {
    flex-direction: column;
  }
  .container-section-cards {
  }
  .article-card-skill {
    width: 32%;
    height: 17%;
  }
  .container-div-Figure1 {
    height: 180px !important;
    width: 145px !important;
  }
  .alignPanel {
    margin-top: -38.5px;
  }
  .alignPanel1 {
    margin-top: -38.5px;
  }
}
@media (max-width: 490px) {
  .header-nav {
    display: none;
  }
  .header-logo {
    padding-top: 3%;
    width: 100%;
  }

  .viewer {
    overflow-y: inherit;
    -ms-scroll-snap-type: y mandatory;
  }
  .section-cards--skills {
    flex-direction: column;
  }
  .container-section--footer img {
    width: 10%;
  }
  .article-card-skill {
    width: 32%;
    height: 17%;
  }
  .container-div-Figure1 {
    height: 195px;
    width: 164px;
  }
  .alignPanel {
    margin-top: -46.5px;
  }
  .alignPanel1 {
    margin-top: -46.5px;
  }
  .container-header-fig {
    padding-top: 13%;
    clip-path: polygon(0% 0%, 100% 0%, 150% 50%, 50% 100%, 50% 100%, 0% 75%);
  }
  .header-tex {
    padding-top: 20%;
  }
  .header__buttons {
    padding-top: 20%;
  }
}
@media (min-width: 491px) {
  .article-card-skill {
    width: 32%;
    height: 17%;
  }
  .container-div-Figure1 {
    height: 195px;
    width: 164px;
  }
  .alignPanel {
    margin-top: -46.5px;
  }
  .alignPanel1 {
    margin-top: 0;
  }
}
